
  <div class="game-container" style="height: 100vh; margin: 20px; padding-top: 10px;">
      <div id="dismissible-container"></div>
      <div class="game-details">
        <a href="javascript:history.back()" style="text-decoration:none; font-size: 20px; color: white; padding-bottom: 20px;"> < Back to Library</a>
        <hr>
      <h1 style="font-size: 50px; padding-bottom: 20px; line-height: 60px;">{{ usersGames.gameName }}</h1>
      <h4 style="color: #D4FF00;">Add This Game to:</h4>
      <div class="buttons-container" style="padding-bottom: 20px;">
        <button class="w-20 btn btn-sm btn-primary update-game-in-progress trigger-in-progress-update success" data-gamestatus=1  data-gameid="{{usersGames.id}}" type="submit" style="background-color:#007DC3; margin-right: 10px; margin-bottom: 10px; margin-top: 10px;"><img src="/img/bolt.png" width="10px;"></img>&nbsp;&nbsp;In Progress</button>
        <button class="w-20 btn btn-sm btn-primary update-game-completed trigger-completed-update success" data-gamestatus=2 data-gameid="{{usersGames.id}}" type="submit" style="background-color:#007DC3; margin: 10px;"><img src="/img/trophy.png" width="15px;"></img>&nbsp;&nbsp;Completed</button>
        <button class="w-20 btn btn-sm btn-primary update-game-not-started trigger-not-started-update success" data-gamestatus=3  data-gameid="{{usersGames.id}}" type="submit" style="background-color:#007DC3; margin: 10px;"><img src="/img/diamond.png" width="15px;"></img>&nbsp;&nbsp;Not Started</button>
        <button class="w-20 btn btn-sm btn-primary delete-game" type="submit" data-gameid="{{usersGames.id}}" style="background-color:#C30000; margin: 10px;"><img src="/img/trash.png" width="11px;"></img>&nbsp;&nbsp;Remove Game</button>
      </div>
      <h4>Description:</h4>
      <p style="font-size:14px; line-height: 24px;">{{ usersGames.gameSummary }}</p>
      <div class="game-details-column-container">
        <div class="game-details-column1">
          <p><strong style="font-size: 20px;">Released:</strong>&nbsp;{{usersGames.gameReleased}}</p>
          <p><strong style="font-size: 20px;">Tags(s):</strong>&nbsp;{{usersGames.gameTag}}</p>
          <p><strong style="font-size: 20px;">Genre(s):</strong>&nbsp;{{usersGames.gameGenre}}</p>
          <p><strong style="font-size: 20px;">Metacritic Score:</strong>&nbsp;{{usersGames.gameRating}}</p>
        </div>
        <div class="game-details-column2">
          <p><strong style="font-size: 20px;">Platform(s):</strong>&nbsp;{{ usersGames.gamePlatform }}</p>
          <p><strong style="font-size: 20px;">Developer(s):</strong>&nbsp;{{ usersGames.gameDeveloper }}</p>
          <p><strong style="font-size: 20px;">Publisher(s):</strong>&nbsp;{{usersGames.gamePublisher }}</p>
          <p><strong style="font-size: 20px;">ESRB Rating:</strong>&nbsp;{{usersGames.gameESRB }}</p>
        </div>
      </div>
    </div>
    <div class="game-details-image" style="padding-top: 90px; padding-left: 10px;">
      <img src="{{usersGames.gameArtwork}}" img id="myImg" width="350px" alt="{{ usersGames.gameName }}" style="border-radius: 5px; border: 3px solid #D4FF00;"></img>
      <!-- The Modal -->
      <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption">Artwork of {{ usersGames.gameName }}</div>
      </div>
      <p style="padding-top: 20px; color:#44d3d5;"><a href="{{ usersGames.gameWebsite }}" target="_blank">{{ usersGames.gameWebsite }}</a></p>
    </div>
</div>

<script type="text/javascript">
  window.onload = function () {
    const dismissible = new Dismissible(document.querySelector('#dismissible-container'));

    document.querySelector('.trigger-in-progress-update.success').addEventListener('click', () => dismissible.success(
      'Game updated to In Progress!'));

      document.querySelector('.trigger-completed-update.success').addEventListener('click', () => dismissible.success(
        'Game updated to Completed!'));

      document.querySelector('.trigger-not-started-update.success').addEventListener('click', () => dismissible.success(
        'Game updated to Not Started!'));
  };
</script>

<script src="/js/dismissible.js"></script>
<script src="/js/lightbox.js"></script>
<script src="/js/updategame.js"></script>
